@charset "UTF-8";
*{margin: 0; padding: 0;}

li{list-style: none;}
a{text-decoration: none;}
.clearfix::after{
    content: "";
    clear:both;
    display: block;
}

.nav{
    position: absolute;
    left: 0; width: 100%;
    bottom: 0;
background: rgba(255,255,255,0.3);
height: 61px;
}
.nav.on{position: fixed; top:0}
.nav h1{float: left;
font-size: 40px; color: #fff;}
.nav ul{float: right;}
.nav ul li{float: left;}
.nav ul li a{display: block;
color: #fff; padding: 20px 15px;
font-weight: bold;
text-transform: uppercase;
}
.nav ul li.active a{
    color: #000;
}


#contents{}
#contents div{height: 100vh;}
#contents div h2{
    position: relative;
    top: 30%;
    text-align: center;
    color: #fff;
    font-size: 90px;
}

#contents div#section1{
    background: linear-gradient(to right, #654ea3, #eaafc8); 
}
#contents div#section2{
    background: linear-gradient(to right, #c94b4b, #4b134f);
}
#contents div#section3{
    background: linear-gradient(to right, #00b09b, #96c93d);
}
#contents div#section4{
    background: linear-gradient(to right, #283c86, #45a247);
}
#contents div#section5{
    background: linear-gradient(to right, #44a08d, #093637); 
}
#contents div#section6{
    background: linear-gradient(to right, #ff5f6d, #ffc371); 
}


@media (max-width:800px){
    .mNav{display: block;}
   .nav ul{display: none;}
    .nav ul{float: none;}
    .nav ul li{float: none;
    width: 100%; text-align: center;
    }
    .nav ul li.active a{
        background-color: rgba(255,255,255,0.3);
    }

    .nav h1{float: none; text-align: center;}

}